h1 {
  text-align: center;
}

p {
  font-size: 20px;
}

.button-level2 {
  display: flex;
  margin-top: 100px;
  justify-content: center;
  margin-right: 100px;
}

.key-level2 {
  margin-left: 20px;
  font-size: 50px;
}

.text-key-level2 {
  font-size: 25px;
}

.all-level2 {
  border: 1px solid black;
}

.pseudo-container {
  /* border: 1px solid black; */
  margin-bottom: 100px;
}

.button-pass-level2 {
  background: rgb(65, 159, 31);
  border-color: rgb(65, 159, 31);
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  padding: 13px 35px;
  text-transform: uppercase;
  transition: background 0.3s linear, color 0.3s linear;
  -webkit-transition: background 0.3s linear, color 0.3s linear;
}
