.congrats-key {
  display: none;
}
.level-uncompleted {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 80%;
  width: 100%;
}

.timer {
  border: 1px solid black;
}
@media screen and (max-width: 600px) {
  .level-uncompleted {
    display: none;
  }
  .congrats-key {
    display: block;
    margin-left: 20px;
    padding: 20px;
  }
  .all-level1 {
    background-color: green;
    height: 250vh;
    border: 1px solid black;
    width: 150vh;
  }
  .key-level1 {
    margin-left: 20px;
    font-size: 50px;
  }
}
